.navbar {
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;

  background: #111827;
  color: white;
  padding: 15px 15px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  position: sticky;
  top: 0;
  z-index: 999;

  flex-wrap: nowrap;
  box-sizing: border-box;
}

.logo {
  font-size: 22px;
  font-weight: bold;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
}

.nav-links a {
  color: white;
  text-decoration: none;
  font-size: 16px;
}

.nav-links a:hover {
  color: #93c5fd;
}
